python-dotenv
openai

# Support Langchain
langchain 
langchain-openai 
langchain-ollama

# Sesion 02
numpy
langchain_community
langchain-text-splitters
langchain-qdrant
qdrant-client

# sesion 03
fastmcp
langchain-mcp-adapters

# sesion 04 
fastapi